<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Options</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/register_options.css')}}">
  </head>
  <body>
    <div class="conjunto">
    <div class="container1">
      <div class="titulo1">
        <h1>Crescent</h1>
      </div><!--titulo1-->
      <div class="borda">
        <h2>Seja muito Bem vindo!</h2>
        <p>Que bom ter você pela 1° vez aqui! Estamos muito felizes de poder proporcionar uma experiência diferenciada para seu evento.</p>
        <p>Nosso foco é facilitar o fluxo de informação, divulgação e organização</p>
      </div><!--borda-->
    </div><!--container1-->
    <div class="container2">
      <div class="titulo2">
        <h2>Qual cadastro você precisa?</h2>
      </div><!--tituolo2-->
      <div class="options">
        <div class="options1">
      <div class="option1 option-config">
        <a href="{{url_for('register_user.register_user_generator')}}">Usuario</a>
      </div><!--option1-->

      <div class="option2 option-config">
        <a href="{{url_for('register_admin.register_admin_generator')}}">Admin</a>
      </div><!--option2-->
      </div><!--options1-->
      <div class="options1">
      <div class="option3 option-config">
        <a href="{{url_for('register_patro.register_patro_generator')}}">Patrocinador</a>
      </div><!--option3-->

      <div class="option4 option-config">
        <a href="{{url_for('register_prop.register_prop_generator')}}">imprensa</a>
      </div><!--option4-->
      </div><!--options1-->
    </div><!--options-->
    </div><!--container-->
  </div><!--conjunto-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>