@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    font-family: Nunito;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 110px;
    background-color: #761195;
}

header h1 {
    font-size: 62px;
    color: white;
}

img {
    width: 100%;
    height: 200px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 125px;
}

.user-icon {
    scale: 2.1;
}

.user-icon:hover {
    scale: 2.6;
}

.logout-icon {
    scale: 2.1;
}

.logout-icon:hover {
    scale: 2.6;
}

.lupa-icon {
    display: flex;
    padding: 6px 15px 7px 10px;
    background-color: white;
    border-radius: 0px 17px 17px 0px;
}

.bars-icon {
    display: flex;
    padding: 10px 17px 11px 18px;
    background-color: white;
    border-radius: 17px 0px 0px 17px;
}

.pesquisa input:focus {
    outline: none;
  }

.lupa-icon i {
    scale: 1.25;
}

.bars-icon i {
    scale: 1.35;
}

.pesquisa {
    display: flex;
    align-items: center;
}

.pesquisa input {
    border: none;
    padding: 6.5px;
    width: 285px;
}

nav {
    justify-content: space-between;
    color: white;
    background-color:#812d9b ;
}

nav ul {
    list-style: none;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 550px
}

li a {
    border-radius: 15px;
    padding: 2px 10px 3.5px 10px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #5e2470f5;
}

/*footer abaixo */

footer {
    display: flex;
    align-items: center;
    color: black;
    background-color: rgb(179, 175, 175);
    width: 100%;
    height: 100px;
}

footer p {
    margin-top: 18px;
    background-color: rgb(209, 207, 207);
    padding: 10px;
    width: 100%;
}