
* {
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.block {
    background-color: rgb(206, 203, 203);
    padding: 25px;
    border-radius: 30px;
    width: 70%;
}

.header {
    display: flex;
    gap: 100px;
    padding-bottom: 25px;
    padding-left: 40px;
}

.gambiarra {
    background-color: black;
    height: 2.5px;
    width: 100%;
}

.container_nomes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 100px;
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;

}

h2 {
    font-size: 37px;
}