{% extends 'base.html' %}

{% block title %}Página Principal{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/index_main_usuario.css')}}">
{% endblock %}

{% block content %}
    <div class="all_shows">
      {% for show in shows.items %}
      <div class="show_style">
        <img src="{{ show.url_img }}" alt="asasas">
        <h2>{{ show.title }}</h2>
        <p>{{ show.local }}</p>
        <p>{{ show.description }}</p>

        <div class="rodape">
          <p>{{ show.preco }}</p>
          <input type="button" class="botao" value="Detalhes">
        </div>
      </div><!--show_style-->
      {% endfor %}
    </div><!--all_shows-->

  <div class="paginacao">
    {% if shows.has_prev %}
      <a href="{{ url_for('index_usuario.index_usuario_generator', page=shows.prev_num) }}">Voltar</a>
    {% endif %}
    
    <span>Página {{ shows.page }} de {{ shows.pages }}</span>

    {% if shows.has_next %}
      <a href="{{ url_for('index_usuario.index_usuario_generator', page=shows.next_num) }}">Próxima</a>
    {% endif %}
  </div>
{% endblock %}
