{% extends 'base.html' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
  {% for show in shows.items %}
  <div class="show_style">
    <img src="{{url_for('static', filename = 'uploads/438552-Kaonashi-Spirited-Away-light-effects-reflection.jpg')}}" alt="asasas">
    <h2>{{ show.title }}</h2>
    <p>{{ show.local }}</p>
    <p>{{ show.description }}</p>

    <div class="rodape">
      <p>{{ show.preco }}</p>
      <input type="button" class="botao" value="Detalhes">
    </div>
  </div>
  {% endfor %}

  <div class="paginacao">
    {% if shows.has_prev %}
      <a href="{{ url_for('index_usuario.index_usuario_generator', page=shows.prev_num) }}">Voltar</a>
    {% endif %}
    
    <span>Página {{ shows.page }} de {{ shows.pages }}</span>

    {% if shows.has_next %}
      <a href="{{ url_for('index_usuario.index_usuario_generator', page=shows.next_num) }}">Próxima</a>
    {% endif %}
  </div>
{% endblock %}
