{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/index_user_config.css')}}">
{% endblock %}

{% block content %}
<div class="block">
<div class="header">
  <img src="{{url_for('static', filename = 'img/icone_imagem.png')}}" alt="algo">

  <div class="container_nomes">
    <h1>{{ usuario.username }}</h1>
    <h2>{{ usuario.nome }}</h2>
  </div><!--container_nomes-->
</div><!--header-->

<div class="gambiarra">
</div>

<div class="resto">
  <p>Email: {{ info.email }}</p>
  <p>Telefone: {{ usuario.telefone }}</p>
  <p>Senha: {{ info.senha }}</p>
  <a href="sasa">Alterar senha</a>
</div><!--resto-->
</div><!--block-->

{% endblock %}