* {
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #761195;
}

header h1 {
    font-size: 60px;
    color: white;
}

.user-icon {

}

.lupa-icon {
    color: black
}

.bars-icon {
    display: flex;
    align-items: center;
    width: 30px;
}

.pesquisa {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    color: white;
    background-color:#812d9b ;
}

nav ul {
    list-style: none;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px
}

.show_style img {
    background-color: grey;
}

.show_style {
    background-color: green;
    width: 20%;
}

/*#812d9b*/